html {
    height: 100%;
}

body {
    font-family: "Apple LiSung";
    font-size: 15px;
    margin: 0;
    color: deepskyblue;
    background-color: #f6f6f6;
}

/*导航栏*/
.nav {
    position: relative;
    padding: 1px;
    text-align: left;
    border: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px;
    background-clip: content-box;
    background-color: black;
    width: 1450px;
}

/*导航条目*/
.nav li {
    position: relative;
    font-size: 10px;
    margin: 15px;
    display: inline-block;
    font-size: 17px;
}

header a {
    color: rgb(255, 240, 255);
    text-decoration: none;
}

header a:visited {
    color: dodgerblue;

}

header a:link {
    color: cornflowerblue;
}

header a:hover {
    color: whitesmoke;
    border-bottom: 2px solid #38f;
    text-decoration: underline;
}

header b {
    display: inline-block;
    color: dodgerblue;
    border-bottom: 2px solid #38f;
}

/* 下拉按钮样式 */
.dropdown {
    background-color: rgba(0, 0, 0, 1);
    color: dodgerblue;
    padding: 15px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    min-width: 120px;
}

/* 容器 */
.personal {
    position: absolute;
    right: 20px;
    display: inline-block;

}

/* 下拉内容 */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    min-width: 120px;
    min-height: 180px;
    text-align: center;
    float: right;
    box-shadow: 5px 1px 3px rgba(100, 200, 200, 1)
}

.dropdown-content div img {
    vertical-align: middle;
}

/* 下拉菜单的链接 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-flex;
    font-size: 15px;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
    color: dodgerblue;
    border-bottom: 2px solid #38f;
}

/* 在鼠标移上去后显示下拉菜单 */
.personal:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.personal:hover .dropdown {
    background-color: wheat;
    font-size: 17px;
}
/*页脚*/
.footer {
    font-family: "Apple SD Gothic Neo";
    position: relative;
    padding-right: 20px;
    bottom: 0;
    clear: both;
    background-clip: content-box;
    color: white;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1455px;
}

.footer div a {
    padding: 20px;
    color: white;
}

address {
    font-size: xx-small;
}
/*主内容*/

main h1{
    margin-left: 10px;
    padding: 10px 20px;
    border: 2px solid lightgray;
    font-size: x-large;
    background-color: lightslategray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 1380px;
    position: relative;
    top: 18px;
}
main .article{
    overflow: auto;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid lightgray;
    height: 320px;
    width:1420px;
}
main h2{
    position: relative;
    left: 30px;
}
main span{
    position:relative;
    left: 30px;
}
main img{
    position: relative;
    float: left;
    width: 365px;
    padding-top: 10px;
    padding-left: 10px;
}
main button{
    width: 100px;
    height: 40px;
}
.Delete{
    color: orangered;
}
.foot{
    text-align: center;
    font-size: larger;
    padding-top: 10px;
    padding-bottom: 5px;
}
